body{
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background:#fffdf0;
  overflow-x: hidden;
}

/* hero image */

#hero{
  position:absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width:100%;
  height: 100%;
}


/* Nav section */ 


#sidenav{
  justify-content: space-evenly;
  background-color: transparent;
  padding-top: 20px;
  height: 100%;
  width: 6%;
  position: fixed;
  top:0;
  left:0;
  background:#ecbd3b; /* #f7c439 */
  overflow:hidden;
  text-decoration: none;
  text-align: center;
  color:white;
  z-index: 0;
  
}

.menu-bar{
  margin-top:80px;
  padding: 10px 10px 10px 10px;
  font-size: 17px;
  color: #818181;
  display: block;
  margin-bottom: 40px;
  color:white;

}

.menu-bar:hover {
  cursor: pointer;
}

.URL-Box {
  padding-top: 180px;
}

#Empty-section{
  visibility: hidden;
}

/* #linkedin{
  -webkit-filter: invert(100%); 
  
} */

/* scroll bar */ 

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgb(185, 185, 185); 
} 

/* Main section */

.Main-body{
  margin-left: 7%;
  background-color: transparent;
  height: 200vh;
  padding-left: 11%;
  padding-right: 11%;
  
}

.Main-body > * {
  margin-top: 11%;
  border: 2px solid black;
  height: 40%;
}

#Home-Page {
  margin-top: 0%;
  margin-bottom: 25%;
}

#About-me {
  
}

#Projects-Container {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 33%);
  text-align-last: center;
  
 
}

.Project-Items{
  border:2px solid rgb(199, 50, 50);
  border-radius: 9px;
  text-decoration:none;
}

#Contact {
  
  
}

#Work-Experience {
 
 
}



@media screen and (max-width: 1280px ),
       screen and (max-height: 800px) {
   
  #sidenav{
    position: absolute;
    left: -15%;
  }
  .Main-body{
    margin-left: 0%;
  }
}

